<nav class='isOpen col'>
        <a class='txt_black txt_bold txt_size20' href='{{dir}}home'>Accueil</a>
        <a class='txt_bold txt_white txt_size30' href='{{dir}}connect'>Connection</a>
        <a class='txt_bold txt_white txt_size30' href='{{dir}}register'>S'enregistrer</a>
    </nav>