<h2 class='txt_center txt_size20 txt_blue b'>Notre agence vous propose trois sejours sur mesure à Marrakech</h2>
<div class="center">
    <p class='txt_size20 w100 txt_center'>L'accueillante cité rouge abonde en jardins, palais, 
    marchés et musées.De la ville moderne aux boutiques de luxe du cœur historique de la médina, 
    votre séjour à Marrakech vous laissera des souvenirs impérissables. 
    Laissez-vous emporter par les parfums des souks, près de la place Jemaa-el-Fna, 
    admirez l'artisanat local, délassez-vous dans les hammams...</p>
</div>

