.gap5{
    display: var(--flex);
    gap: var(--px5);
}

.gap10{
    display: var(--flex);
    gap: var(--px10);
}

.gap15{
    display: var(--flex);
    gap: var(--px15);
}

.gap20{
    display: var(--flex);
    gap: var(--px20);
}

.gap25{
    display: var(--flex);
    gap: var(--px25);
}

.gap30{
    display: var(--flex);
    gap: var(--px30);
}

.gap35{
    display: var(--flex);
    gap: var(--px35);
}

.gap40{
    display: var(--flex);
    gap: var(--px40);
}

.gap45{
    display: var(--flex);
    gap: var(--px45);
}

.gap50{
    display: var(--flex);
    gap: var(--px50);
}