/*
|||||||||||||||||||
|| Margin-Bottom ||
|||||||||||||||||||
*/
.mrg050_b{
    margin-bottom: var(--prc050);
}

.mrg1_b{
    margin-bottom: var(--prc1);
}

.mrg2_b{
    margin-bottom: var(--prc2);
}

.mrg3_b{
    margin-bottom: var(--prc3);
}

.mrg4_b{
    margin-bottom: var(--prc4);
}

.mrg5_b{
    margin-bottom: var(--prc5);
}

.mrg6_b{
    margin-bottom: var(--prc6);
}

.mrg7_b{
    margin-bottom: var(--prc7);
}

.mrg8_b{
    margin-bottom: var(--prc8);
}

.mrg9_b{
    margin-bottom: var(--prc9);
}

.mrg10_b{
    margin-bottom: var(--prc10);
}

.mrg11_b{
    margin-bottom: var(--prc11);
}

.mrg12_b{
    margin-bottom: var(--prc12);
}

.mrg13_b{
    margin-bottom: var(--prc13);
}

.mrg14_b{
    margin-bottom: var(--prc14);
}

.mrg15_b{
    margin-bottom: var(--prc15);
}

.mrg16_b{
    margin-bottom: var(--prc16);
}

.mrg17_b{
    margin-bottom: var(--prc17);
}

.mrg18_b{
    margin-bottom: var(--prc18);
}

.mrg19_b{
    margin-bottom: var(--prc19);
}

.mrg20_b{
    margin-bottom: var(--prc20);
}

.mrg21_b{
    margin-bottom: var(--prc21);
}

.mrg22_b{
    margin-bottom: var(--prc22);
}

.mrg23_b{
    margin-bottom: var(--prc23);
}

.mrg24_b{
    margin-bottom: var(--prc24);
}

.mrg25_b{
    margin-bottom: var(--prc25);
}

.mrg26_b{
    margin-bottom: var(--prc26);
}

.mrg27_b{
    margin-bottom: var(--prc27);
}

.mrg28_b{
    margin-bottom: var(--prc28);
}

.mrg29_b{
    margin-bottom: var(--prc29);
}

.mrg30_b{
    margin-bottom: var(--prc30);
}

.mrg31_b{
    margin-bottom: var(--prc31);
}

.mrg32_b{
    margin-bottom: var(--prc32);
}

.mrg33_b{
    margin-bottom: var(--prc33);
}

.mrg34_b{
    margin-bottom: var(--prc34);
}

.mrg35_b{
    margin-bottom: var(--prc35);
}

.mrg36_b{
    margin-bottom: var(--prc36);
}

.mrg37_b{
    margin-bottom: var(--prc37);
}

.mrg38_b{
    margin-bottom: var(--prc38);
}

.mrg39_b{
    margin-bottom: var(--prc39);
}

.mrg40_b{
    margin-bottom: var(--prc40);
}

.mrg41_b{
    margin-bottom: var(--prc41);
}

.mrg42_b{
    margin-bottom: var(--prc42);
}

.mrg43_b{
    margin-bottom: var(--prc43);
}

.mrg44_b{
    margin-bottom: var(--prc44);
}

.mrg45_b{
    margin-bottom: var(--prc45);
}

.mrg46_b{
    margin-bottom: var(--prc46);
}

.mrg47_b{
    margin-bottom: var(--prc47);
}

.mrg48_b{
    margin-bottom: var(--prc48);
}

.mrg49_b{
    margin-bottom: var(--prc49);
}

.mrg50_b{
    margin-bottom: var(--prc50);
}

.mrg51_b{
    margin-bottom: var(--prc51);
}

.mrg52_b{
    margin-bottom: var(--prc52);
}

.mrg53_b{
    margin-bottom: var(--prc53);
}

.mrg54_b{
    margin-bottom: var(--prc54);
}

.mrg55_b{
    margin-bottom: var(--prc55);
}

.mrg56_b{
    margin-bottom: var(--prc56);
}

.mrg57_b{
    margin-bottom: var(--prc57);
}

.mrg58_b{
    margin-bottom: var(--prc58);
}

.mrg59_b{
    margin-bottom: var(--prc59);
}

.mrg60_b{
    margin-bottom: var(--prc60);
}

.mrg61_b{
    margin-bottom: var(--prc61);
}

.mrg62_b{
    margin-bottom: var(--prc62);
}

.mrg63_b{
    margin-bottom: var(--prc63);
}

.mrg64_b{
    margin-bottom: var(--prc64);
}

.mrg65_b{
    margin-bottom: var(--prc65);
}

.mrg66_b{
    margin-bottom: var(--prc66);
}

.mrg67_b{
    margin-bottom: var(--prc67);
}

.mrg68_b{
    margin-bottom: var(--prc68);
}

.mrg69_b{
    margin-bottom: var(--prc69);
}

.mrg70_b{
    margin-bottom: var(--prc70);
}

.mrg71_b{
    margin-bottom: var(--prc71);
}

.mrg72_b{
    margin-bottom: var(--prc72);
}

.mrg73_b{
    margin-bottom: var(--prc73);
}

.mrg74_b{
    margin-bottom: var(--prc74);
}

.mrg75_b{
    margin-bottom: var(--prc75);
}

.mrg76_b{
    margin-bottom: var(--prc76);
}

.mrg77_b{
    margin-bottom: var(--prc77);
}

.mrg78_b{
    margin-bottom: var(--prc78);
}

.mrg79_b{
    margin-bottom: var(--prc79);
}

.mrg80_b{
    margin-bottom: var(--prc80);
}

.mrg81_b{
    margin-bottom: var(--prc81);
}

.mrg82_b{
    margin-bottom: var(--prc82);
}

.mrg83_b{
    margin-bottom: var(--prc83);
}

.mrg84_b{
    margin-bottom: var(--prc84);
}

.mrg85_b{
    margin-bottom: var(--prc85);
}

.mrg86_b{
    margin-bottom: var(--prc86);
}

.mrg87_b{
    margin-bottom: var(--prc87);
}

.mrg88_b{
    margin-bottom: var(--prc88);
}

.mrg89_b{
    margin-bottom: var(--prc89);
}

.mrg90_b{
    margin-bottom: var(--prc90);
}

.mrg91_b{
    margin-bottom: var(--prc91);
}

.mrg92_b{
    margin-bottom: var(--prc92);
}

.mrg93_b{
    margin-bottom: var(--prc93);
}

.mrg94_b{
    margin-bottom: var(--prc94);
}

.mrg95_b{
    margin-bottom: var(--prc95);
}

.mrg96_b{
    margin-bottom: var(--prc96);
}

.mrg97_b{
    margin-bottom: var(--prc97);
}

.mrg98_b{
    margin-bottom: var(--prc98);
}

.mrg99_b{
    margin-bottom: var(--prc99);
}

.mrg100_b{
    margin-bottom: var(--prc100);
}