/*
|||||||||||||||||
|| Margin-Left ||
|||||||||||||||||
*/
.mrg_auto{
    margin: var(--auto);
}

.mrg050_l{
    margin-left: var(--prc050);
}

.mrg1_l{
    margin-left: var(--prc1);
}

.mrg2_l{
    margin-left: var(--prc2);
}

.mrg3_l{
    margin-left: var(--prc3);
}

.mrg4_l{
    margin-left: var(--prc4);
}

.mrg5_l{
    margin-left: var(--prc5);
}

.mrg6_l{
    margin-left: var(--prc6);
}

.mrg7_l{
    margin-left: var(--prc7);
}

.mrg8_l{
    margin-left: var(--prc8);
}

.mrg9_l{
    margin-left: var(--prc9);
}

.mrg10_l{
    margin-left: var(--prc10);
}

.mrg11_l{
    margin-left: var(--prc11);
}

.mrg12_l{
    margin-left: var(--prc12);
}

.mrg13_l{
    margin-left: var(--prc13);
}

.mrg14_l{
    margin-left: var(--prc14);
}

.mrg15_l{
    margin-left: var(--prc15);
}

.mrg16_l{
    margin-left: var(--prc16);
}

.mrg17_l{
    margin-left: var(--prc17);
}

.mrg18_l{
    margin-left: var(--prc18);
}

.mrg19_l{
    margin-left: var(--prc19);
}

.mrg20_l{
    margin-left: var(--prc20);
}

.mrg21_l{
    margin-left: var(--prc21);
}

.mrg22_l{
    margin-left: var(--prc22);
}

.mrg23_l{
    margin-left: var(--prc23);
}

.mrg24_l{
    margin-left: var(--prc24);
}

.mrg25_l{
    margin-left: var(--prc25);
}

.mrg26_l{
    margin-left: var(--prc26);
}

.mrg27_l{
    margin-left: var(--prc27);
}

.mrg28_l{
    margin-left: var(--prc28);
}

.mrg29_l{
    margin-left: var(--prc29);
}

.mrg30_l{
    margin-left: var(--prc30);
}

.mrg31_l{
    margin-left: var(--prc31);
}

.mrg32_l{
    margin-left: var(--prc32);
}

.mrg33_l{
    margin-left: var(--prc33);
}

.mrg34_l{
    margin-left: var(--prc34);
}

.mrg35_l{
    margin-left: var(--prc35);
}

.mrg36_l{
    margin-left: var(--prc36);
}

.mrg37_l{
    margin-left: var(--prc37);
}

.mrg38_l{
    margin-left: var(--prc38);
}

.mrg39_l{
    margin-left: var(--prc39);
}

.mrg40_l{
    margin-left: var(--prc40);
}

.mrg41_l{
    margin-left: var(--prc41);
}

.mrg42_l{
    margin-left: var(--prc42);
}

.mrg43_l{
    margin-left: var(--prc43);
}

.mrg44_l{
    margin-left: var(--prc44);
}

.mrg45_l{
    margin-left: var(--prc45);
}

.mrg46_l{
    margin-left: var(--prc46);
}

.mrg47_l{
    margin-left: var(--prc47);
}

.mrg48_l{
    margin-left: var(--prc48);
}

.mrg49_l{
    margin-left: var(--prc49);
}

.mrg50_l{
    margin-left: var(--prc50);
}

.mrg51_l{
    margin-left: var(--prc51);
}

.mrg52_l{
    margin-left: var(--prc52);
}

.mrg53_l{
    margin-left: var(--prc53);
}

.mrg54_l{
    margin-left: var(--prc54);
}

.mrg55_l{
    margin-left: var(--prc55);
}

.mrg56_l{
    margin-left: var(--prc56);
}

.mrg57_l{
    margin-left: var(--prc57);
}

.mrg58_l{
    margin-left: var(--prc58);
}

.mrg59_l{
    margin-left: var(--prc59);
}

.mrg60_l{
    margin-left: var(--prc60);
}

.mrg61_l{
    margin-left: var(--prc61);
}

.mrg62_l{
    margin-left: var(--prc62);
}

.mrg63_l{
    margin-left: var(--prc63);
}

.mrg64_l{
    margin-left: var(--prc64);
}

.mrg65_l{
    margin-left: var(--prc65);
}

.mrg66_l{
    margin-left: var(--prc66);
}

.mrg67_l{
    margin-left: var(--prc67);
}

.mrg68_l{
    margin-left: var(--prc68);
}

.mrg69_l{
    margin-left: var(--prc69);
}

.mrg70_l{
    margin-left: var(--prc70);
}

.mrg71_l{
    margin-left: var(--prc71);
}

.mrg72_l{
    margin-left: var(--prc72);
}

.mrg73_l{
    margin-left: var(--prc73);
}

.mrg74_l{
    margin-left: var(--prc74);
}

.mrg75_l{
    margin-left: var(--prc75);
}

.mrg76_l{
    margin-left: var(--prc76);
}

.mrg77_l{
    margin-left: var(--prc77);
}

.mrg78_l{
    margin-left: var(--prc78);
}

.mrg79_l{
    margin-left: var(--prc79);
}

.mrg80_l{
    margin-left: var(--prc80);
}

.mrg81_l{
    margin-left: var(--prc81);
}

.mrg82_l{
    margin-left: var(--prc82);
}

.mrg83_l{
    margin-left: var(--prc83);
}

.mrg84_l{
    margin-left: var(--prc84);
}

.mrg85_l{
    margin-left: var(--prc85);
}

.mrg86_l{
    margin-left: var(--prc86);
}

.mrg87_l{
    margin-left: var(--prc87);
}

.mrg88_l{
    margin-left: var(--prc88);
}

.mrg89_l{
    margin-left: var(--prc89);
}

.mrg90_l{
    margin-left: var(--prc90);
}

.mrg91_l{
    margin-left: var(--prc91);
}

.mrg92_l{
    margin-left: var(--prc92);
}

.mrg93_l{
    margin-left: var(--prc93);
}

.mrg94_l{
    margin-left: var(--prc94);
}

.mrg95_l{
    margin-left: var(--prc95);
}

.mrg96_l{
    margin-left: var(--prc96);
}

.mrg97_l{
    margin-left: var(--prc97);
}

.mrg98_l{
    margin-left: var(--prc98);
}

.mrg99_l{
    margin-left: var(--prc99);
}

.mrg100_l{
    margin-left: var(--prc100);
}