/*
||||||||||||||||||
|| Margin-Right ||
||||||||||||||||||
*/
.mrg050_r{
    margin-right: var(--prc050);
}

.mrg1_r{
    margin-right: var(--prc1);
}

.mrg2_r{
    margin-right: var(--prc2);
}

.mrg3_r{
    margin-right: var(--prc3);
}

.mrg4_r{
    margin-right: var(--prc4);
}

.mrg5_r{
    margin-right: var(--prc5);
}

.mrg6_r{
    margin-right: var(--prc6);
}

.mrg7_r{
    margin-right: var(--prc7);
}

.mrg8_r{
    margin-right: var(--prc8);
}

.mrg9_r{
    margin-right: var(--prc9);
}

.mrg10_r{
    margin-right: var(--prc10);
}

.mrg11_r{
    margin-right: var(--prc11);
}

.mrg12_r{
    margin-right: var(--prc12);
}

.mrg13_r{
    margin-right: var(--prc13);
}

.mrg14_r{
    margin-right: var(--prc14);
}

.mrg15_r{
    margin-right: var(--prc15);
}

.mrg16_r{
    margin-right: var(--prc16);
}

.mrg17_r{
    margin-right: var(--prc17);
}

.mrg18_r{
    margin-right: var(--prc18);
}

.mrg19_r{
    margin-right: var(--prc19);
}

.mrg20_r{
    margin-right: var(--prc20);
}

.mrg21_r{
    margin-right: var(--prc21);
}

.mrg22_r{
    margin-right: var(--prc22);
}

.mrg23_r{
    margin-right: var(--prc23);
}

.mrg24_r{
    margin-right: var(--prc24);
}

.mrg25_r{
    margin-right: var(--prc25);
}

.mrg26_r{
    margin-right: var(--prc26);
}

.mrg27_r{
    margin-right: var(--prc27);
}

.mrg28_r{
    margin-right: var(--prc28);
}

.mrg29_r{
    margin-right: var(--prc29);
}

.mrg30_r{
    margin-right: var(--prc30);
}

.mrg31_r{
    margin-right: var(--prc31);
}

.mrg32_r{
    margin-right: var(--prc32);
}

.mrg33_r{
    margin-right: var(--prc33);
}

.mrg34_r{
    margin-right: var(--prc34);
}

.mrg35_r{
    margin-right: var(--prc35);
}

.mrg36_r{
    margin-right: var(--prc36);
}

.mrg37_r{
    margin-right: var(--prc37);
}

.mrg38_r{
    margin-right: var(--prc38);
}

.mrg39_r{
    margin-right: var(--prc39);
}

.mrg40_r{
    margin-right: var(--prc40);
}

.mrg41_r{
    margin-right: var(--prc41);
}

.mrg42_r{
    margin-right: var(--prc42);
}

.mrg43_r{
    margin-right: var(--prc43);
}

.mrg44_r{
    margin-right: var(--prc44);
}

.mrg45_r{
    margin-right: var(--prc45);
}

.mrg46_r{
    margin-right: var(--prc46);
}

.mrg47_r{
    margin-right: var(--prc47);
}

.mrg48_r{
    margin-right: var(--prc48);
}

.mrg49_r{
    margin-right: var(--prc49);
}

.mrg50_r{
    margin-right: var(--prc50);
}

.mrg51_r{
    margin-right: var(--prc51);
}

.mrg52_r{
    margin-right: var(--prc52);
}

.mrg53_r{
    margin-right: var(--prc53);
}

.mrg54_r{
    margin-right: var(--prc54);
}

.mrg55_r{
    margin-right: var(--prc55);
}

.mrg56_r{
    margin-right: var(--prc56);
}

.mrg57_r{
    margin-right: var(--prc57);
}

.mrg58_r{
    margin-right: var(--prc58);
}

.mrg59_r{
    margin-right: var(--prc59);
}

.mrg60_r{
    margin-right: var(--prc60);
}

.mrg61_r{
    margin-right: var(--prc61);
}

.mrg62_r{
    margin-right: var(--prc62);
}

.mrg63_r{
    margin-right: var(--prc63);
}

.mrg64_r{
    margin-right: var(--prc64);
}

.mrg65_r{
    margin-right: var(--prc65);
}

.mrg66_r{
    margin-right: var(--prc66);
}

.mrg67_r{
    margin-right: var(--prc67);
}

.mrg68_r{
    margin-right: var(--prc68);
}

.mrg69_r{
    margin-right: var(--prc69);
}

.mrg70_r{
    margin-right: var(--prc70);
}

.mrg71_r{
    margin-right: var(--prc71);
}

.mrg72_r{
    margin-right: var(--prc72);
}

.mrg73_r{
    margin-right: var(--prc73);
}

.mrg74_r{
    margin-right: var(--prc74);
}

.mrg75_r{
    margin-right: var(--prc75);
}

.mrg76_r{
    margin-right: var(--prc76);
}

.mrg77_r{
    margin-right: var(--prc77);
}

.mrg78_r{
    margin-right: var(--prc78);
}

.mrg79_r{
    margin-right: var(--prc79);
}

.mrg80_r{
    margin-right: var(--prc80);
}

.mrg81_r{
    margin-right: var(--prc81);
}

.mrg82_r{
    margin-right: var(--prc82);
}

.mrg83_r{
    margin-right: var(--prc83);
}

.mrg84_r{
    margin-right: var(--prc84);
}

.mrg85_r{
    margin-right: var(--prc85);
}

.mrg86_r{
    margin-right: var(--prc86);
}

.mrg87_r{
    margin-right: var(--prc87);
}

.mrg88_r{
    margin-right: var(--prc88);
}

.mrg89_r{
    margin-right: var(--prc89);
}

.mrg90_r{
    margin-right: var(--prc90);
}

.mrg91_r{
    margin-right: var(--prc91);
}

.mrg92_r{
    margin-right: var(--prc92);
}

.mrg93_r{
    margin-right: var(--prc93);
}

.mrg94_r{
    margin-right: var(--prc94);
}

.mrg95_r{
    margin-right: var(--prc95);
}

.mrg96_r{
    margin-right: var(--prc96);
}

.mrg97_r{
    margin-right: var(--prc97);
}

.mrg98_r{
    margin-right: var(--prc98);
}

.mrg99_r{
    margin-right: var(--prc99);
}

.mrg100_r{
    margin-right: var(--prc100);
}