/*
|||||||||||||||||||
|| Padding-Right ||
|||||||||||||||||||
*/
.pad050_r{
    padding-right: var(--prc050);
}

.pad1_r{
    padding-right: var(--prc1);
}

.pad2_r{
    padding-right: var(--prc2);
}

.pad3_r{
    padding-right: var(--prc3);
}

.pad4_r{
    padding-right: var(--prc4);
}

.pad5_r{
    padding-right: var(--prc5);
}

.pad6_r{
    padding-right: var(--prc6);
}

.pad7_r{
    padding-right: var(--prc7);
}

.pad8_r{
    padding-right: var(--prc8);
}

.pad9_r{
    padding-right: var(--prc9);
}

.pad10_r{
    padding-right: var(--prc10);
}

.pad11_r{
    padding-right: var(--prc11);
}

.pad12_r{
    padding-right: var(--prc12);
}

.pad13_r{
    padding-right: var(--prc13);
}

.pad14_r{
    padding-right: var(--prc14);
}

.pad15_r{
    padding-right: var(--prc15);
}

.pad16_r{
    padding-right: var(--prc16);
}

.pad17_r{
    padding-right: var(--prc17);
}

.pad18_r{
    padding-right: var(--prc18);
}

.pad19_r{
    padding-right: var(--prc19);
}

.pad20_r{
    padding-right: var(--prc20);
}

.pad21_r{
    padding-right: var(--prc21);
}

.pad22_r{
    padding-right: var(--prc22);
}

.pad23_r{
    padding-right: var(--prc23);
}

.pad24_r{
    padding-right: var(--prc24);
}

.pad25_r{
    padding-right: var(--prc25);
}

.pad26_r{
    padding-right: var(--prc26);
}

.pad27_r{
    padding-right: var(--prc27);
}

.pad28_r{
    padding-right: var(--prc28);
}

.pad29_r{
    padding-right: var(--prc29);
}

.pad30_r{
    padding-right: var(--prc30);
}

.pad31_r{
    padding-right: var(--prc31);
}

.pad32_r{
    padding-right: var(--prc32);
}

.pad33_r{
    padding-right: var(--prc33);
}

.pad34_r{
    padding-right: var(--prc34);
}

.pad35_r{
    padding-right: var(--prc35);
}

.pad36_r{
    padding-right: var(--prc36);
}

.pad37_r{
    padding-right: var(--prc37);
}

.pad38_r{
    padding-right: var(--prc38);
}

.pad39_r{
    padding-right: var(--prc39);
}

.pad40_r{
    padding-right: var(--prc40);
}

.pad41_r{
    padding-right: var(--prc41);
}

.pad42_r{
    padding-right: var(--prc42);
}

.pad43_r{
    padding-right: var(--prc43);
}

.pad44_r{
    padding-right: var(--prc44);
}

.pad45_r{
    padding-right: var(--prc45);
}

.pad46_r{
    padding-right: var(--prc46);
}

.pad47_r{
    padding-right: var(--prc47);
}

.pad48_r{
    padding-right: var(--prc48);
}

.pad49_r{
    padding-right: var(--prc49);
}

.pad50_r{
    padding-right: var(--prc50);
}

.pad51_r{
    padding-right: var(--prc51);
}

.pad52_r{
    padding-right: var(--prc52);
}

.pad53_r{
    padding-right: var(--prc53);
}

.pad54_r{
    padding-right: var(--prc54);
}

.pad55_r{
    padding-right: var(--prc55);
}

.pad56_r{
    padding-right: var(--prc56);
}

.pad57_r{
    padding-right: var(--prc57);
}

.pad58_r{
    padding-right: var(--prc58);
}

.pad59_r{
    padding-right: var(--prc59);
}

.pad60_r{
    padding-right: var(--prc60);
}

.pad61_r{
    padding-right: var(--prc61);
}

.pad62_r{
    padding-right: var(--prc62);
}

.pad63_r{
    padding-right: var(--prc63);
}

.pad64_r{
    padding-right: var(--prc64);
}

.pad65_r{
    padding-right: var(--prc65);
}

.pad66_r{
    padding-right: var(--prc66);
}

.pad67_r{
    padding-right: var(--prc67);
}

.pad68_r{
    padding-right: var(--prc68);
}

.pad69_r{
    padding-right: var(--prc69);
}

.pad70_r{
    padding-right: var(--prc70);
}

.pad71_r{
    padding-right: var(--prc71);
}

.pad72_r{
    padding-right: var(--prc72);
}

.pad73_r{
    padding-right: var(--prc73);
}

.pad74_r{
    padding-right: var(--prc74);
}

.pad75_r{
    padding-right: var(--prc75);
}

.pad76_r{
    padding-right: var(--prc76);
}

.pad77_r{
    padding-right: var(--prc77);
}

.pad78_r{
    padding-right: var(--prc78);
}

.pad79_r{
    padding-right: var(--prc79);
}

.pad80_r{
    padding-right: var(--prc80);
}

.pad81_r{
    padding-right: var(--prc81);
}

.pad82_r{
    padding-right: var(--prc82);
}

.pad83_r{
    padding-right: var(--prc83);
}

.pad84_r{
    padding-right: var(--prc84);
}

.pad85_r{
    padding-right: var(--prc85);
}

.pad86_r{
    padding-right: var(--prc86);
}

.pad87_r{
    padding-right: var(--prc87);
}

.pad88_r{
    padding-right: var(--prc88);
}

.pad89_r{
    padding-right: var(--prc89);
}

.pad90_r{
    padding-right: var(--prc90);
}

.pad91_r{
    padding-right: var(--prc91);
}

.pad92_r{
    padding-right: var(--prc92);
}

.pad93_r{
    padding-right: var(--prc93);
}

.pad94_r{
    padding-right: var(--prc94);
}

.pad95_r{
    padding-right: var(--prc95);
}

.pad96_r{
    padding-right: var(--prc96);
}

.pad97_r{
    padding-right: var(--prc97);
}

.pad98_r{
    padding-right: var(--prc98);
}

.pad99_r{
    padding-right: var(--prc99);
}

.pad100_r{
    padding-right: var(--prc100);
}