/*
||||||||||||||||||
|| Texte Params ||
||||||||||||||||||
*/
.txt_center{
    text-align: var(--center);
}

.txt_bold{
    font-weight: var(--bold);
}

.txt_size1{
    font-size: var(--px1);
}

.txt_size2{
    font-size: var(--px2);
}

.txt_size3{
    font-size: var(--px3);
}

.txt_size4{
    font-size: var(--px4);
}

.txt_size5{
    font-size: var(--px5);
}

.txt_size6{
    font-size: var(--px6);
}

.txt_size7{
    font-size: var(--px7);
}

.txt_size8{
    font-size: var(--px8);
}

.txt_size9{
    font-size: var(--px9);
}

.txt_size10{
    font-size: var(--px10);
}

.txt_size11{
    font-size: var(--px11);
}

.txt_size12{
    font-size: var(--px12);
}

.txt_size13{
    font-size: var(--px13);
}

.txt_size14{
    font-size: var(--px14);
}

.txt_size15{
    font-size: var(--px15);
}

.txt_size16{
    font-size: var(--px16);
}

.txt_size17{
    font-size: var(--px17);
}

.txt_size18{
    font-size: var(--px18);
}

.txt_size19{
    font-size: var(--px19);
}

.txt_size20{
    font-size: var(--px20);
}

.txt_size21{
    font-size: var(--px21);
}

.txt_size22{
    font-size: var(--px22);
}

.txt_size23{
    font-size: var(--px23);
}

.txt_size24{
    font-size: var(--px24);
}

.txt_size25{
    font-size: var(--px25);
}

.txt_size26{
    font-size: var(--px26);
}

.txt_size27{
    font-size: var(--px27);
}

.txt_size28{
    font-size: var(--px28);
}

.txt_size29{
    font-size: var(--px29);
}

.txt_size30{
    font-size: var(--px30);
}

.txt_size31{
    font-size: var(--px31);
}

.txt_size32{
    font-size: var(--px32);
}

.txt_size33{
    font-size: var(--px33);
}

.txt_size34{
    font-size: var(--px34);
}

.txt_size35{
    font-size: var(--px35);
}

.txt_size36{
    font-size: var(--px36);
}

.txt_size37{
    font-size: var(--px37);
}

.txt_size38{
    font-size: var(--px38);
}

.txt_size39{
    font-size: var(--px39);
}

.txt_size40{
    font-size: var(--px40);
}

.txt_size41{
    font-size: var(--px41);
}

.txt_size42{
    font-size: var(--px42);
}

.txt_size43{
    font-size: var(--px43);
}

.txt_size44{
    font-size: var(--px44);
}

.txt_size45{
    font-size: var(--px45);
}

.txt_size46{
    font-size: var(--px46);
}

.txt_size47{
    font-size: var(--px47);
}

.txt_size48{
    font-size: var(--px48);
}

.txt_size49{
    font-size: var(--px49);
}

.txt_size50{
    font-size: var(--px50);
}

.txt_size51{
    font-size: var(--px51);
}

.txt_size52{
    font-size: var(--px52);
}

.txt_size53{
    font-size: var(--px53);
}

.txt_size54{
    font-size: var(--px54);
}

.txt_size55{
    font-size: var(--px55);
}

.txt_size56{
    font-size: var(--px56);
}

.txt_size57{
    font-size: var(--px57);
}

.txt_size58{
    font-size: var(--px58);
}

.txt_size59{
    font-size: var(--px59);
}

.txt_size60{
    font-size: var(--px60);
}

.txt_size61{
    font-size: var(--px61);
}

.txt_size62{
    font-size: var(--px62);
}

.txt_size63{
    font-size: var(--px63);
}

.txt_size64{
    font-size: var(--px64);
}

.txt_size65{
    font-size: var(--px65);
}

.txt_size66{
    font-size: var(--px66);
}

.txt_size67{
    font-size: var(--px67);
}

.txt_size68{
    font-size: var(--px68);
}

.txt_size69{
    font-size: var(--px69);
}

.txt_size70{
    font-size: var(--px70);
}

.txt_size71{
    font-size: var(--px71);
}

.txt_size72{
    font-size: var(--px72);
}

.txt_size73{
    font-size: var(--px73);
}

.txt_size74{
    font-size: var(--px74);
}

.txt_size75{
    font-size: var(--px75);
}

.txt_size76{
    font-size: var(--px76);
}

.txt_size77{
    font-size: var(--px77);
}

.txt_size78{
    font-size: var(--px78);
}

.txt_size79{
    font-size: var(--px79);
}

.txt_size80{
    font-size: var(--px80);
}

.txt_size81{
    font-size: var(--px81);
}

.txt_size82{
    font-size: var(--px82);
}

.txt_size83{
    font-size: var(--px83);
}

.txt_size84{
    font-size: var(--px84);
}

.txt_size85{
    font-size: var(--px85);
}

.txt_size86{
    font-size: var(--px86);
}

.txt_size87{
    font-size: var(--px87);
}

.txt_size88{
    font-size: var(--px88);
}

.txt_size89{
    font-size: var(--px89);
}

.txt_size90{
    font-size: var(--px90);
}

.txt_size91{
    font-size: var(--px91);
}

.txt_size92{
    font-size: var(--px92);
}

.txt_size93{
    font-size: var(--px93);
}

.txt_size94{
    font-size: var(--px94);
}

.txt_size95{
    font-size: var(--px95);
}

.txt_size96{
    font-size: var(--px96);
}

.txt_size97{
    font-size: var(--px97);
}

.txt_size98{
    font-size: var(--px98);
}

.txt_size99{
    font-size: var(--px99);
}

.txt_size100{
    font-size: var(--px100);
}