:root{
    /*Déclaration des espacements*/
    --flex: flex;
    --space_1: space-around; 
    --space_2: space-between; 
    --center: center;
    --col: column;
    --grow: 1;
    --start: start; 
    --end: end;
    --float_r: right;
    --float_l: left; /*Par défaut à gauche*/
    --wrap: wrap;
    --bold: bold;
    --auto: auto;

    /*Toutes les couleurs principales*/
    --red: rgb(255, 63, 63);
    --blue: rgb(107, 196, 255);
    --green: rgb(78, 255, 78);
    --yellow: rgb(255, 255, 117);
    --orange: rgb(255, 201, 100);
    --black: rgb(81, 81, 81);
    --grey: rgb(202, 202, 202);
    --purple: rgb(255, 131, 255);
    --pink: rgb(255, 184, 196);
    --brown: rgb(199, 143, 116);
    --white: white;

    /*Enlever la bordure*/
    --none: none;

    /*Tailles en pourcentage*/
    --prc0_auto: 0% auto;
    --prc0: 0%;
    --prc050: 0.5%;
    --prc1: 1%;
    --prc2: 2%;
    --prc3: 3%;
    --prc4: 4%;
    --prc5: 5%;
    --prc6: 6%;
    --prc7: 7%;
    --prc8: 8%;
    --prc9: 9%;
    --prc10: 10%;
    --prc11: 11%;
    --prc12: 12%;
    --prc13: 13%;
    --prc14: 14%;
    --prc15: 15%;
    --prc16: 16%;
    --prc17: 17%;
    --prc18: 18%;
    --prc19: 19%;
    --prc20: 20%;
    --prc21: 21%;
    --prc22: 22%;
    --prc23: 23%;
    --prc24: 24%;
    --prc25: 25%;
    --prc26: 26%;
    --prc27: 27%;
    --prc28: 28%;
    --prc29: 29%;
    --prc30: 30%;
    --prc31: 31%;
    --prc32: 32%;
    --prc33: 33%;
    --prc34: 34%;
    --prc35: 35%;
    --prc36: 36%;
    --prc37: 37%;
    --prc38: 38%;
    --prc39: 39%;
    --prc40: 40%;
    --prc41: 41%;
    --prc42: 42%;
    --prc43: 43%;
    --prc44: 44%;
    --prc45: 45%;
    --prc46: 46%;
    --prc47: 47%;
    --prc48: 48%;
    --prc49: 49%;
    --prc50: 50%;
    --prc51: 51%;
    --prc52: 52%;
    --prc53: 53%;
    --prc54: 54%;
    --prc55: 55%;
    --prc56: 56%;
    --prc57: 57%;
    --prc58: 58%;
    --prc59: 59%;
    --prc60: 60%;
    --prc61: 61%;
    --prc62: 62%;
    --prc63: 63%;
    --prc64: 64%;
    --prc65: 65%;
    --prc66: 66%;
    --prc67: 67%;
    --prc68: 68%;
    --prc69: 69%;
    --prc70: 70%;
    --prc71: 71%;
    --prc72: 72%;
    --prc73: 73%;
    --prc74: 74%;
    --prc75: 75%;
    --prc76: 76%;
    --prc77: 77%;
    --prc78: 78%;
    --prc79: 79%;
    --prc80: 80%;
    --prc81: 81%;
    --prc82: 82%;
    --prc83: 83%;
    --prc84: 84%;
    --prc85: 85%;
    --prc86: 86%;
    --prc87: 87%;
    --prc88: 88%;
    --prc89: 89%;
    --prc90: 90%;
    --prc91: 91%;
    --prc92: 92%;
    --prc93: 93%;
    --prc94: 94%;
    --prc95: 95%;
    --prc96: 96%;
    --prc97: 97%;
    --prc98: 98%;
    --prc99: 99%;
    --prc100: 100%;

    /*Tailles en vh*/
    --vh10: 10vh;
    --vh15: 15vh;
    --vh20: 20vh;
    --vh25: 25vh;
    --vh30: 30vh;
    --vh35: 35vh;
    --vh40: 40vh;
    --vh45: 45vh;
    --vh50: 50vh;
    --vh55: 55vh;
    --vh60: 60vh;
    --vh65: 65vh;
    --vh70: 70vh;
    --vh75: 75vh;
    --vh80: 80vh;
    --vh90: 90vh;
    --vh95: 95vh;
    --vh100: 100vh;

    /*Tailles en pixels*/
    --px5: 5px;
    --px10: 10px;
    --px15: 15px;
    --px20: 20px;
    --px25: 25px;
    --px30: 30px;
    --px35: 35px;
    --px40: 40px;
    --px45: 45px;
    --px50: 50px;
    --px55: 55px;
    --px60: 60px;
    --px65: 65px;
    --px70: 70px;
    --px75: 75px;
    --px80: 80px;
    --px85: 85px;
    --px90: 90px;
    --px95: 95px;
    --px100: 100px;
}