<div class='center'>
    <form action='#' method='post' class='col w40' >
        <label for='Mail:' class='txt_bold txt_size25 mrg1_t mrg1_b'>Mail:</label>

        <input type='email' name='mail' class='mrg1_b pad1_t pad1_b txt_size30'>
<label for='Mot de passe' class='txt_bold txt_size25 mrg1_t mrg1_b'>Mot de passe:</label>

        <input type='password' name='mdp' class='mrg1_b pad1_t pad1_b txt_size30'>

        <div class='center'>
        <input type='hidden' value='{{security_token}}'>
            <input type='submit' value='Se connecter' class=' txt_center txt_bold txt_white back_blue w21 mrg4_t pad1_t pad1_b pad1_l pad1_r txt_size20'>
        </div>
    </form>
</div>